.herosectionMain{
    width: 100%;
    /* height: 200vh; */
    min-height: 1800px;
    background-image: url('/hero.svg'); /* Replace with your image URL */
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding:2%;
    /* justify-content: space-between; */
}

.herosectionTop{
    display: flex;
    width: 100%;
    min-height: 900px;
    align-items: center;
    /* background-color: red; */
}

.herosectionTopSubdiv1{
width: 40%;
}
.herosectionTopSubdiv2{
width: 60%;
}

.herosectionaboutSubdiv2 img{
    width: 398px;    /* Equivalent to w-[398px] */
    height: 398px;   /* Equivalent to h-[398px] */
    margin-top: 36px;
}



.herosectionabout{
    display: flex;
    width: 100%;
    height: 900px;
    align-items: center;
    justify-content: space-between;
    /* background-color:blue; */
}

.herosectionaboutSubdiv{
    width: 66%;
}
.herosectionaboutSubdiv2{
    width: 30%;
}

.aboutParaGraph {
    font-weight: 600; /* font-semibold */
    -webkit-line-clamp: 11; /* Limits the text to 11 lines */
    font-family: 'Atma', Helvetica, sans-serif; /* Custom font-family */
    color: black; /* text-black */
    font-size: 1.4rem; /* text-[28px] */
    text-align: justify; /* text-justify */
    letter-spacing: 0.56px; /* tracking-[0.56px] */
    line-height: 39.2px; /* leading-[39.2px] */
    overflow: hidden; /* overflow-hidden */
    text-overflow: ellipsis; /* text-ellipsis */
    display: -webkit-box; /* [display:-webkit-box] */
    -webkit-box-orient: vertical; /* [-webkit-box-orient:vertical] */
  }



  .container {
    display: flex;
    flex-direction: column;
    gap: 1rem; /* space-y-4 */
  }
  
  .title {
    width: 100%;
    margin-top: -13px;
    margin-left: -12px;
    -webkit-text-stroke: 6px #1f1f67;
    font-size: 140px;
    text-align: center;
    line-height: 156.8px;
    text-shadow: 5px 8px 4px rgba(45, 45, 114, 0.5);
    font-family: 'Peralta', Helvetica, sans-serif;
    font-weight: normal;
    color: #ffbc6c;
    letter-spacing: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  
  .subtitle {
    margin-left: -2px;
    text-shadow: 1px 3px 4px #ffbc6d;
    -webkit-text-stroke: 1px #ffbc6d;
    font-family: 'Peralta', Helvetica, sans-serif;
    font-weight: normal;
    color: black;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: 33.3px;
  }
  
  .description {
    /* width: 609px; */
    font-weight: 500;
    -webkit-line-clamp: 4;
    font-family: 'Atma', Helvetica, sans-serif;
    color: black;
    font-size: 28px;
    text-align: justify;
    letter-spacing: 0.56px;
    line-height: 39.2px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
  
  .info-container {
    display: flex;
    gap: 1rem; /* space-x-4 */
    padding: 0.5rem; /* p-2 */
    justify-content: center;
  }
  
  .info-box {
    width: 209px;
    height: 118px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 4px solid #ff8c00;
    border-bottom: 10px solid #ff8c00;
    border-left: 4px solid #ff8c00;
    border-right: 4px solid #ff8c00;
    border-radius: 24px;
  }
  
  .info-title {
    margin-top: -1px;
    text-shadow: 1px 3px 4px #ffbc6d;
    font-family: 'Cabin Sketch', Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    font-size: 25px;
    text-align: center;
    letter-spacing: 0.64px;
    line-height: 44.8px;
  }
  
  .info-value {
    margin-top: -1px;
    text-shadow: 1px 3px 4px #ffbc6d;
    font-family: 'Atma', Helvetica, sans-serif;
    font-weight: 600;
    color: black;
    text-align: center;
    letter-spacing: 0.72px;
    line-height: 50.4px;
    white-space: nowrap;
  }

  .joinus-mobile{
    display: none;
  }

  .joinus-desktop{
    display: block;
  }
  
  /* .info-box:nth-child(3) .info-title {
    font-size: 28px; 
  } */
  

  .join-message {
    text-shadow: 1px 3px 4px #ffbc6d; /* Equivalent to [text-shadow:1px_3px_4px_#ffbc6d] */
    font-family: 'Atma', Helvetica, sans-serif; /* Equivalent to [font-family:'Atma',Helvetica] */
    font-weight: 600; /* Equivalent to font-semibold */
    color: black; /* Equivalent to text-black */
    font-size: 32px; /* Equivalent to text-[32px] */
    letter-spacing: 0.64px; /* Equivalent to tracking-[0.64px] */
    line-height: 44.8px; /* Equivalent to leading-[44.8px] */
    margin-top: 40px; /* Equivalent to mt-10 (10 x 4px = 40px) */
  }



  @media screen and (max-width: 1150px) {
    .herosectionTop{
        flex-direction: column;
    }
    .herosectionTopSubdiv1{
        width: 100%;
        display: flex;
        justify-content: center;
    }
        .herosectionTopSubdiv2{
        width: 100%;
        }
    .herosectionabout{
        margin-top: 14rem;
        height: auto;
        flex-direction: column;
    }
    .herosectionaboutSubdiv{
        width: 100%;
    }
    .herosectionaboutSubdiv2{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .joinus-mobile{
        display: block;
    }
    .join-message {
        text-shadow: 1px 3px 4px #ffbc6d; /* Equivalent to [text-shadow:1px_3px_4px_#ffbc6d] */
        font-family: 'Atma', Helvetica, sans-serif; /* Equivalent to [font-family:'Atma',Helvetica] */
        font-weight: 600; /* Equivalent to font-semibold */
        color: black; /* Equivalent to text-black */
        font-size: 18px; /* Equivalent to text-[32px] */
        letter-spacing: 0.64px; /* Equivalent to tracking-[0.64px] */
        line-height: 44.8px; /* Equivalent to leading-[44.8px] */
        margin-top: 40px; /* Equivalent to mt-10 (10 x 4px = 40px) */
      }
      .joinus-desktop{
        display: none;
      }

      .herosectionaboutSubdiv2 img{
        width: 198px;    /* Equivalent to w-[398px] */
        height: 198px;   /* Equivalent to h-[398px] */
        margin-top: 36px;
      }
    
  

}


@media screen and (max-width: 700px) {
    .herosectionMain{
        background-image: url('/herobGMobile.svg'); 
    }
    .info-box {
        width: 109px;
        height: 118px;
    }
    .info-title {
        font-size: 0.8rem;
    }
    .info-value {
        font-size: 0.8rem;
    }
   
    .title {
        font-size: 4rem;
        -webkit-text-stroke: 3px #1f1f67;
      }

    
    
}
