.navbar {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    position: fixed;
    top: 49px;
    /* left: 34px; */
    border-radius: 50px;
    z-index: 50;
    width: 100%;
    gap: 2rem;
    flex-shrink: 0;
  }


  .logo-container {
    display: flex;
    align-items: center;
    /* gap: 0.5rem; */
    position: relative;
    flex: 0 0 auto;
  }
  
  .logo {
    width: 84px;
    height: 84px;
    margin-top: -8px;
    margin-bottom: -16px;
    margin-left: -10px;
    object-fit: cover;
  }
  
  .heading {
    overflow: hidden;
    border-bottom-left-radius: 0.125rem;
    border-bottom-right-radius: 0.125rem;
    -webkit-text-stroke: 2px #1f1f67;
    color: #f7aa49;
    text-align: center;
    font-family: 'Peralta', sans-serif;
    font-size: 2rem;
    line-height: 112%;
  }
  

.menu-container {
  display: none; /* hidden by default */
}

.buy-container {
    border: 3px solid black;
    display: flex;
    align-items: center;
    box-shadow: 5px 8px 4px #000000;
    padding: 18px 13px;
    -webkit-backdrop-filter: blur(25px) brightness(100%);
    position: relative;
    width: 194px;
    flex-direction: column;
    border-radius: 200px;
    backdrop-filter: blur(25px);
    backdrop-brightness: 100%;
    gap: 10px; /* gap-2.5 translates to 0.625rem or 10px */
    height: 70px;
    justify-content: center;
    background-color: #ff8c00;
    transition: background-color 0.3s ease; /* To handle the hover effect smoothly */
  }
  
  .buy-container:hover {
    background-color: #fceeac;
  }
  
  .buy-text {
    font-family: 'Bubblegum Sans', Helvetica, sans-serif;
    width: fit-content;
    letter-spacing: 0;
    font-size: 28px;
    color: black;
    font-weight: normal;
    text-align: center;
    line-height: 31.4px;
  }

  .menu-button{
    display: none;
  }

  
  
  .toggle-button {
    color: black;
    border: none;
    background: none;
    outline: none;
  }
  
  .toggle-button:focus {
    outline: none;
  }
  
  .icon {
    width: 32px; /* Equivalent to w-8 in Tailwind */
    height: 32px; /* Equivalent to h-8 in Tailwind */
  }
  

  .menu {
    position: absolute;
    top: 100%; /* 'top-full' in Tailwind */
    left: 0;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px; /* 'py-4' in Tailwind */
    z-index: 40;
  }
  
  .menu-link {
    padding: 8px 16px; /* 'py-2 px-4' in Tailwind */
    color: black;
    font-size: 20px;
    font-weight: 600; /* 'font-semibold' in Tailwind */
    text-decoration: none;
  }
  
  .menu-link:hover {
    color: #ff8c00; /* Optional hover effect */
  }
  
  .menu a{
    font-family: 'Bubblegum Sans', Helvetica, sans-serif;
  }
  



@media (min-width: 1024px) { /* lg breakpoint equivalent */
  .menu-container {
    display: flex;
    flex-direction: column;
    max-width: 750px;
    height: 70px;
    align-items: center;
    justify-content: center;
    gap: 10px; /* 2.5 is 0.625rem which is 10px */
    padding: 18px 3rem; /* px-12 = 3rem, py-[18px] */
    background-color: rgba(212, 212, 212, 0.2); /* bg-[#d4d4d433] */
    border-radius: 200px;
    border: 3px solid black;
    box-shadow: 5px 8px 4px #000000;
    backdrop-filter: blur(2xl); /* backdrop-blur-2xl */
  }

  .menu-links {
    display: inline-flex;
    height: 34.7px;
    align-items: center;
    justify-content: center;
    gap: 48px; /* gap-12 = 3rem which is 48px */
    position: relative;
  }

  .menu-link {
    font-family: 'Bubblegum Sans', Helvetica, sans-serif;
    font-size: 1.3rem;
    font-weight: normal;
    color: black;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0;
    line-height: 31.4px;
    position: relative;
    width: fit-content;
  }
}


@media screen and (max-width: 1050px) {
    .navbar {
        padding-left: 0.3rem;
        padding-right: 0.3rem;
        padding-top: 1.25rem;
      }
    .buy-container {
        border: 1.5px solid black;
        display: flex;
        align-items: center;
        box-shadow: 5px 8px 4px #000000;
        padding: 18px 13px;
        -webkit-backdrop-filter: blur(25px) brightness(100%);
        position: relative;
        width: 130px;
        flex-direction: column;
        border-radius: 100px;
        backdrop-filter: blur(25px);
        backdrop-brightness: 100%;
        gap: 10px; /* gap-2.5 translates to 0.625rem or 10px */
        height: 50px;
        justify-content: center;
        background-color: #ff8c00;
        transition: background-color 0.3s ease; /* To handle the hover effect smoothly */
    }
    .logo-container {
        display: none;
    }
    .buy-text {
        font-family: 'Bubblegum Sans', Helvetica, sans-serif;
        width: fit-content;
        letter-spacing: 0;
        font-size: 1.1rem;
        color: black;
        font-weight: normal;
        text-align: center;
        line-height: 31.4px;
      }
      .menu-button {
        display: flex;
        align-items: center;
      }
      
}
  
  
 